/*
Cette œuvre est mise à disposition selon les termes de la Licence Creative Commons Attribution.
- Pas d’Utilisation Commerciale. 
- Partage dans les Mêmes Conditions 4.0 International.
*/
/* 
    Created on : 10 sept. 2015, 16:13:30
    Author     : loic
*/
body {
    font-family: 'Ubuntu','Arial','sans-serif';
}

section{
    background-color: #C0C0C0;
    min-height: 670px;
    //padding-top: 10px;
}


h1 { margin: 0px;}

body {
    margin: 0px;
    width: 100%;
}

.ui-dialog-titlebar, button {
    background:black -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(229,229,229,0) 100%) !important;
    background:black -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0))) !important;
    color:white !important;
}

input[type=text] {
    font: inherit;
}

.center{
    text-align: center;
}
