/*
Cette œuvre est mise à disposition selon les termes de la Licence Creative Commons Attribution.
- Pas d’Utilisation Commerciale. 
- Partage dans les Mêmes Conditions 4.0 International.
*/
/* 
    Created on : 11 sept. 2015, 09:24:20
    Author     : cedric
*/

/*
partie balise
*/
#contentGame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#contentGame div {
    margin-right: 5px;
    text-align: left;
}


.image{
    //max-width : 100%;
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
}

#contentGame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#contentGame div {
    text-align: left;
    margin-right: 5px;
}


p{
    text-align: justify;
}

/*
partie class
*/
.sectionTitle{
    text-align: center;
}

.inline{
    display : inline-block;
}


/*
partie id
*/
#gameTitle{
    color : black;
    text-align: center;
    margin-bottom: 15px;
}

#description{
    background-color: #b0b0b0;
    border: 2px solid black;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 15px;
    margin-left : auto;
    margin-right: auto;
    width : 95%;
}


#img{
    width : 200px;
    height: 200px;
    background-color: #b0b0b0;
}

#gameImg{
    margin-top: 10%;
    margin-bottom: auto;
    max-width : 80%;
}

#summary{
    width : 100%;
    height: 196px;
    margin-left: 1%;
    right: 0px;
    background-color: #b0b0b0;
    border: 2px solid black;
}

#comments{
    margin-top: 15px;
    margin-left : auto;
    margin-right: auto;
    width : 95%;
    background-color: #b0b0b0;
    border: 2px solid black;
    padding-left: 1%;
    padding-right: 1%;
}

#information{
    margin-left : 5%;
}

#game{
    margin-right: auto;
    width: 70%;
    min-height: 670px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 3px;
    padding-bottom: 10px;
}

#firstPart {
    margin: auto;
    text-align: center;
    display: flex;
    width: 97%;
}

#ajoutpanierDiv {
    float: right;
    display: flex;
}
#ajouterpanierBox{
    width: 20px;
    text-align: center;
}

.ajouterpanierBox{
    width: 20px;
    text-align: center;
}
#ajouterButton{
       width: 150px;
   background-color: #000000;
   text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff;
  font-size: 15px;
  background: #000000;
  padding: 5px 10px 5px 10px;
  margin-right:  5px;
  text-decoration: none;
  display:  inline-block;
}

#ajouterButton:hover {
      background: #ADD8E6;
  text-decoration: none;
  color: black;
}
