/*
Cette œuvre est mise à disposition selon les termes de la Licence Creative Commons Attribution.
- Pas d’Utilisation Commerciale. 
- Partage dans les Mêmes Conditions 4.0 International.
*/
/* 
    Created on : 11 sept. 2015, 09:24:20
    Author     : cedric
*/

/*
partie class
*/
#gamelistTable{
    margin-right: auto;
    margin-left: auto;
    border-collapse:  collapse;
    border : 2px solid black;
}

.desc{
    font-size: small;
}

#gamelistTable th {
    background-color: black ;
    color: white;
}


#gamelistTable th,#gamelistTable td{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;

}
#gamelistTable td {
    border-bottom: 2px solid black;
}
#gamelistTable tr:hover {
    background-color: #ADD8E6 ;
}

#jeuTitle  {
    margin-bottom: 15px;
}
.divrender {
    border-style: solid;
    border-width: 3px;
    background-color : #C0C0C0;
}
/*
partie class
*/
.center{
    text-align: center;
}

/*
partie id
*/

#multiselect{
    float : left;
    display: inline-block;
    margin-left: 2%;
}

#multiselect h2 {
    margin: 0px;
}

#multiselect .center {
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
}
#gameList{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    min-height: 670px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 3px;
    //  background-color : #A0A0A0  ;
}



.ui-slider .ui-slider-range {
    background: #000000 !important;
    -moz-box-shadow: inset 0 2px 2px #5D5D5D !important;
    -webkit-box-shadow: inset 0 2px 2px #5D5D5D !important;
    box-shadow: inset 0 2px 2px #5D5D5D !important;
}

.ui-slider .ui-slider-handle {
    background: #EFEFEF !important;
    background: #EFEFEF linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
    background: #EFEFEF -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))) !important;
    background: #EFEFEF -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
}
