/*
Cette œuvre est mise à disposition selon les termes de la Licence Creative Commons Attribution.
- Pas d’Utilisation Commerciale. 
- Partage dans les Mêmes Conditions 4.0 International.
*/
/* 
    Created on : 10 sept. 2015, 16:13:30
    Author     : loic
*/


.clearfix {
    overflow: auto;
}

#test{
      color: #ffffff;
      background: #000000;
}
header {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 150px;
    background-color: black;
}

#webSiteName {
    color: #ffffff;
    float: left;
    margin-left: 10%;
    margin-top: 50px;
}

#usrMenu {
    float:  right;
    margin-right: 100px;
}

#ursUl {
    margin-top: 0px;
}


.whiteButton {
   width: 100px;
   height: 60 px;
   background-color: #ffffff;
   text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #000000;
  font-size: 15px;
  background: #ffffff;
  padding: 1px 10px 1px 10px;
  text-decoration: none;
  display:  inline-block;
}

.whiteButton:hover {
  background: #b0b0b0;
  text-decoration: none;
}



