/*
Cette œuvre est mise à disposition selon les termes de la Licence Creative Commons Attribution.
- Pas d’Utilisation Commerciale. 
- Partage dans les Mêmes Conditions 4.0 International.
*/
/* 
    Created on : 14 sept. 2015, 16:05:29
    Author     : cedric
*/

/*
Partie Class
*/

.zoneImage{
    width: 23%;
    height: 150px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}

.jeuImage{
    background-size: cover;
    height: 150px;
}

/*
Partie id
*/
#carousel{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

#carousel-img{
    width : 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding-top: 20px;
}

#global{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gamePresentation{
    margin-top: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#titleLastGame{
    text-align: center;
}

#panelGrid{
    width: 100%;
}

#linkList{
    margin-left: 78%;
}

