#panier{
    min-width: 325px;
    border-style: solid;
    border-width: 3px;
    margin-top: 20px;
}

#panier h2 {
    margin: 0px;
}

#panier .center {
    border-bottom: 2px solid black;
    background-color: black;
    color: white;
}

.panierPrix {
    width:50px;
}
#panierTable table {
    width: 100%;
    border-collapse:  collapse;
}
#panier  table td{
     border-bottom: 2px solid black;
}
#panier table {
    border-collapse:  collapse;
    width: 100%;
}

#panier form td {
    border-bottom: 0px solid black;
}
#panierTable td{
    border-bottom: 2px solid black;
}

.supprPanier {
    display: table;
    height: inherit;
    width: inherit;
    background: none !important;
    border: none !important;
    color: black !important;
    font-size: 2.0em !important;
    transition: color 0.1s ease;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.supprPanier:hover {
    color: red !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.supprPanier span {
    width: inherit;
    height: inherit;
    padding: 0 !important;
    vertical-align: middle;
    display: table-cell !important;
}

.smallPanier {
    color:#5D5D5D;
    text-decoration: underline;
    font-size: 60%;
    display: block;
    width: 100%;
    text-align: right;
}

.panierPrixQte tr td:first-child {
    padding-right: 5px;
    text-align:right;
}

.panierTable {

}

#prixPanierForm {
    width:100%;
    text-align:center;
}

.totalPanier {
    font-weight: bold;
}

.panierNomFrom {
    min-width: 200px;
    max-width: 200px;
    text-align: left;
    padding-left: 10px;
}
#panier form td input {
    width: 25px !important;
}
