/*
Cette œuvre est mise à disposition selon les termes de la Licence Creative Commons Attribution.
- Pas d’Utilisation Commerciale. 
- Partage dans les Mêmes Conditions 4.0 International.
*/
/* 
    Created on : 11 sept. 2015, 09:24:20
    Author     : cedric
*/

#gameTitle{
    color : blue;
    text-align: center;
}

